.header {
  text-align: center;
}

.main {
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 4rem;
  margin-top: 5rem;
}

.results {
  /* background-color: #f95959; */
  background-color: #9fd3c7;
  color: #000;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

